{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.adres_to.label }}<br>
        {{ form.adres_to }}<br>
        {% for error in form.adres_to.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status }}<br>
        {% for error in form.status.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content }}<br>
        {% for error in form.content.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}