{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>Старый статус: {{old_status}}</p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status }}<br>
        {% for error in form.status.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}