{% extends "base.html" %}

{% block content %}
<h1>Привет, {{ username }}!</h1>
<h4>Мои новости:</h4>
<table border="1" width="90%" bgcolor="f9fad4">
    <tr>
        <th>Дата</th>
        <th>Имя отправителя</th>
        <th>Имя получателя</th>
        <th>Статус</th>
        <th>Посылка</th>
        <th>ID посылки</th>
    </tr>
    {% for id, adres_to, status, content, data, user_id in content_list %}
    <tr>
        <th>{{data}}</th>
        <th>{{user_model.get(user_id)[1]}}</th>
        <th>{{adres_to}}</th>
        <th>{{status}}</th>
        <th>{{content}}</th>
        <th>{{id}}</th>
    </tr>
    {%endfor%}
</table>
{% endblock %}

(adres_to, new_status, content, data, str(user_id))